@import url('https://fonts.googleapis.com/css2?family=Geologica&display=swap');
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

div{
  width: 200px;
  height: 100px;
  margin: 0 auto;
  text-align: center;
  background-color: teal;
  border-radius: 10px;
  font-family: 'Geologica', sans-serif;
}
h2{
  color: #fff;
  padding-top: 10px;
}
p{
  color: #fff;
}